# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Output File (CSV)
output_data_file = "../output-data/cities.csv"

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [14]:
df = pd.read_csv(output_data_file)
df = df.drop(df.columns[0], axis=1)
df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,bluff,-46.60,168.33,11.67,65,87,3.13,NZ,1602980156
1,chillicothe,39.33,-82.98,11.11,57,1,2.40,US,1602980062
2,ushuaia,-54.80,-68.30,6.00,75,75,9.30,AR,1602980158
3,arraial do cabo,-22.97,-42.03,21.63,79,2,5.03,BR,1602980160
4,antalaha,-14.90,50.28,21.12,86,42,2.87,MG,1602980161

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [15]:
gmaps.configure(api_key=g_key)

locations = df[["Lat", "Lng"]].astype("float")

In [16]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=df["Humidity"], 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [18]:
hotel_df = df.loc[(df["Max Temp"]<27) & (df["Max Temp"]>20) & (df["Cloudiness"]<20) & (df["Humidity"]<70) & (df["Wind Speed"]<4)]
hotel_df.reset_index()

,index,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,30,salalah,17.02,54.09,23.00,49,1,1.50,OM,1602980205
1,31,jardim,-21.48,-56.14,24.85,62,6,2.63,BR,1602980206
2,133,rundu,-17.93,19.77,20.23,25,0,2.54,NaN,1602980360
3,211,aswan,24.09,32.91,26.35,29,0,3.90,EG,1602980336
4,234,abu kamal,34.45,40.92,20.11,31,0,2.87,SY,1602980500
5,289,phulji,26.88,67.68,24.69,17,0,2.59,PK,1602980581
6,290,bareli,28.35,79.42,20.79,48,0,1.76,IN,1602980583
7,309,saint-pierre,-21.34,55.48,20.56,68,16,1.00,RE,1602980608
8,338,tayoltita,24.08,-105.93,25.30,63,12,1.22,MX,1602980651
9,339,coolum beach,-26.53,153.10,26.11,63,7,2.24,AU,1602980653
10,409,dataganj,28.03,79.40,22.21,41,0,1.72,IN,1602980746
11,452,doctor arroyo,23.67,-100.18,21.28,35,0,3.09,MX,1602980801
12,469,loreto,22.27,-101.97,21.58,34,0,3.11,MX,1602980826

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure